{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <section id="home" class="card">
                <div class="card-body">
                    <h2 class="welcome">Добро пожаловать в Alpha Truck!</h2>
                    <p>Мы предлагаем широкий выбор легковых автомобилей. Ознакомьтесь с нашим каталогом и закажите идеальный автомобиль для себя!</p>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Каталог автомобилей</h5>
                                    <p class="card-text">Просмотрите наш обширный каталог автомобилей в наличии</p>
                                    <a href="{% url 'car_list' %}" class="btn btn-primary">Перейти в каталог</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Записаться на тест-драйв</h5>
                                    <p class="card-text">Попробуйте понравившийся автомобиль в действии</p>
                                    <a href="{% url 'testdrive_list' %}" class="btn btn-primary">Записаться</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}